<!-- {% load static tailwind_tags %} -->
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Vinned</title>
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/custom.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- {% tailwind_preload_css %}
		{% tailwind_css %} -->
	</head>
	<!-- <body class="bg-green-50 font-serif leading-normal tracking-normal"> -->
	<body>
        <div class="flex justify-center items-center bg-gray-500 mt-40">
            <form action="results" method="post">
                {% csrf_token %}
                <div class="search-box">
                    <input class="w-[500px] h-14 border-4 border--vinned-orange rounded-full color--vinned-orange align-center" type="text" id="vin#" name='vin#' placeholder="ENTER VIHECLE IDENTIFICATION NUMBER">
                </div>
                <div class="flex justify-center items-center p-4 mode-toggle">
                <label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
                    <input type="checkbox" value="" id="default-toggle" class="sr-only peer">
                    <div class="w-32 h-9 bg-gray-200 peer-focus:outline-none peer-focus:ring-1 
                    peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer  
                    dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white 
                    after:content-[''] after:absolute after:top-[] after:left-[] after:bg-white 
                    after:border-gray-300 after:border after:rounded-full after:h-9 after:w-20
                    after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                </label>

                </div>
                <input type="submit" value="submit">
              </form>
        </div>
        <div>

        </div>
	</body>
</html>
